<footer class="footer">
<div class="footer-container">
    <p class="footer-brand-name">Dinopark - 2025</p>
    <p class="footer-brand-text">Powered by Quentin Derimais</p>
</div>
</footer>
</body>

</html>