<header>
    <div class="header-navigation">
        <div class="brand-container">
            <img class="brand-image" src="/css/img/diplodocus.png" alt="Logo dinopark"/>
            <p class="brand-name"><a href="#" class="nav-link">Dino Park</a></p>
        </div>
        <div class="nav-container">
            <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav-element"><a href="#" class="nav-link" id="">Nos dinosaures</a></li>
                    <li class="nav-element"><a href="#" class="nav-link" id="">Le parc</a></li>
                    <li class="nav-element"><a href="#" class="nav-link" id="">Réservation</a></li>
                    <li class="nav-element"><a href="#" class="nav-link" id="">Mon compte</a></li>

                </ul>
            </nav>
        </div>
    </div>
</header>