        <div class="dinosaur-card">
            <img class="card-image" src="/css/img/diplodocus.png">
            <p class="dinosaur-card-name"><%= dinosaur.name %></p>
            <p class="dinosaur-card-resume"><%= dinosaur.resume %></p>
            <p class="dinosaur-card-species"><%= dinosaur.species %></p>
        </div>