        <div class="dinosaur-card">
            <img class="dinosaur-card-pics" src="/css/img/diplodocus.png">
            <p class="dinosaur-card-name"><%= dinosaur.name %></p>
            <p class="dinosaur-card-resume">Petit résumé des familles</p>
            <p class="dinosaur-card-species"><%= dinosaur.species %></p>
        </div>