<%- include('../../partials/head', {title:"Mon compte"})%>
    <%- include('../../partials/header') %>

        <main>
 
            <h1>Si vous êtes ici c'est que vous êtes connecté et que les cookies fonctionnent</h1>
            
        </main>

        <%- include('../../partials/footer') %>