<%- include('../../partials/head', {title:"Le parc | Dinopark"})%>
    <%- include('../../partials/header') %>

        <main>
            <p>Votre compte a été crée avec succès</p>
        </main>

        <%- include('../../partials/footer') %>