@media (max-width: 800px){
    
p{
    text-align: center;
}
    .header-navigation{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-list{
    display: flex;
    flex-direction: column;
}
}

