<%- include('../../partials/head', {title:"Mon compte"})%>
    <%- include('../../partials/header') %>

        <main>
            <ul>
                <li><a href="#" class="nav-link">Lien 1</a></li>
                <li><a href="#" class="nav-link">Lien 1</a></li>
                <li><a href="#" class="nav-link">Lien 1</a></li>
            </ul>
        </main>

        <%- include('../../partials/footer') %>