<%- include('../partials/head', {title:"Dinosaures | Dinopark"})%>
    <%- include('../partials/header') %>

        <main>

            <div class="card-wrapper">
                <% dinosaurs.forEach((dinosaur)=> { %>
                    <%- include('../elements/dinosaur-card', {dinosaur}) %>
                        <% }) %>
            </div>
        </main>
        <%- include('../partials/footer') %>