<%- include('../partials/head', {title:"Dinosaures | Dinopark"})%>
    <%- include('../partials/header') %>

        <main>
            <p>Bonjour le monde</p>
        </main>

        <%- include('../partials/footer') %>