<%- include('../partials/head', {title:"Dinosaures | Dinopark"})%>
    <%- include('../partials/header') %>

        <main>
            <p>Bonjour le monde</p>
        </main>


        <% dinosaurs.forEach((dinosaur) => { %>
        <%- include('../elements/dinosaur-card', {dinosaur}) %>
        <% }) %>

        <%- include('../partials/footer') %>