<%- include('../partials/head', {title:"Accueil"})%>
    <%- include('../partials/header') %>

        <main>
            <h1 class="homepage-main-title">Dinopark</h1>
            <h2 class="homepage-subtitle">Venez rendre visite à vos grand-parents</h2>

            <h2 class="title-2">Dinosaures en vedette</h2>

            <div class="onlight-dinosaur">
                <div class="card-container">
                    <div class="dinosaur-card">
                        <img class="card-image" src="css/img/dinosaur.png" src="">
                        <h3 class="homepage-dinosaur-name">Dino name</h3>
                    </div>
                    <div class="dinosaur-card">
                        <img class="card-image" src="css/img/dinosaur.png" src="">
                        <h3 class="homepage-dinosaur-name">Dino name</h3>
                    </div>
                    <div class="dinosaur-card">
                        <img class="card-image" src="css/img/dinosaur.png" src="">
                        <h3 class="homepage-dinosaur-name">Dino name</h3>
                    </div>
                </div>
            </div>

            <h2 class="title-2">Dinopark c'est quoi ?</h2>
            <p class="homepage-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros
                tortor, porttitor ut tempor vitae, ultricies sed elit. Vestibulum faucibus hendrerit justo nec posuere.
                Vivamus ornare blandit gravida. Nulla enim urna, sagittis eu tincidunt id, convallis et mi. Donec
                eleifend ipsum lectus, ac varius dui luctus sed. Donec id felis eu neque pretium bibendum. Suspendisse
                pharetra congue urna ac pretium. Ut egestas diam vitae libero rutrum vehicula. In condimentum lacus
                lorem, vitae euismod velit blandit vel. Vestibulum gravida, orci eget iaculis malesuada, ante neque
                eleifend ante, et iaculis leo magna ut metus. Ut at quam venenatis, mattis neque in, convallis ligula.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec lobortis erat vel lacinia tincidunt.
                Nulla magna nibh, pellentesque eu lorem id, imperdiet ultricies neque.
            </p>

            <h2 class="title-2">Pour quel public ?</h2>
            <p class="homepage-paragrph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros
                tortor, porttitor ut tempor vitae, ultricies sed elit. Vestibulum faucibus hendrerit justo nec posuere.
                Vivamus ornare blandit gravida. Nulla enim urna, sagittis eu tincidunt id, convallis et mi. Donec
                eleifend ipsum lectus, ac varius dui luctus sed. Donec id felis eu neque pretium bibendum. Suspendisse
                pharetra congue urna ac pretium. Ut egestas diam vitae libero rutrum vehicula. In condimentum lacus
                lorem, vitae euismod velit blandit vel. Vestibulum gravida, orci eget iaculis malesuada, ante neque
                eleifend ante, et iaculis leo magna ut metus. Ut at quam venenatis, mattis neque in, convallis ligula.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec lobortis erat vel lacinia tincidunt.
                Nulla magna nibh, pellentesque eu lorem id, imperdiet ultricies neque.
            </p>
        </main>

        <%- include('../partials/footer') %>