<%- include('../partials/head', {title:"Dinosaures | Dinopark"})%>
    <%- include('../partials/header') %>

        <main>
            <p>Votre réservation a fonctionné :)</p>
        </main>
        <%- include('../partials/footer') %>