//Vue mobile 

@media (max-width: 800px){

}

//Vue desktop

@media (min-width: 800px){
    
}

//Vue commune

.reservation-main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.reservation-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.form-label{
    font-family: 'McLaren-regular';
    font-size: 1.25rem;
}

//Vue connexion

.form-connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signup-link{
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
}

// Vue inscription

.signUp-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1vh;
}

.form-input-text{
    width: 35vw;
}

.form-input-mail{
    width: 35vw;
}

.form-input-password{
    width: 35vw;
}

.form-submit-button{
    font-size: large;
}