.homepage-main-title{
    font-size: 2rem;
    text-align: center;
    font-family: 'McLaren-regular';
}

.homepage-subtitle{
    font-size: 1.75rem;
    text-align: center;
    font-family: 'McLaren-regular';
}

.homepage-dinosaur-name{
    font-size: 1.25rem;
    font-family: 'Maven-pro';
    text-align: center;
}