

            <ul>
                <li><a href="/account/account" class="account-nav-link">Lien 1</a></li>
                <li><a href="/account/admin/dinosaures" class="account-nav-link">Gérer les dinosaures</a></li>
                <li><a href="#" class="account-nav-link">Lien 1</a></li>
            </ul>

